

<body style="background-color:#f5f4f4;">
    
</body>
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container" style="height: 50px;">
				<div class="row">
					<div class="col-sm-6" style="float: right; ">
						<div class="" style="float: right;" >
							<ul class="nav navbar-nav" style="font-size:18px;">
								<li><a href=""><i class="fa fa-user"></i> Account</a></li>
								<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href=""><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href=""><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href=""><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a  href=""><img style=" margin-bottom: -40px; margin-left: 70px;  width: 160px; height: 100px;" src="https://lh4.googleusercontent.com/vVdKHO0ddg1HfGSmjJMfM94XnYWJWhxOYjEa1XHFrzZ1OBGHSi92rGH4TMPKXuyWbsH2GS9Es7XmgeWj2L6ugejQIM4Np5SAJbxVTZWMGZRiUbDo1fZvJxmY2PQsd_t30EFdJgn8" alt="" /></a>
						</div>
		
					</div>

				</div>
			</div>
		</div><!--/header-middle-->
	















		<div class="header-bottom"><!--header-bottom-->





			<div class="container">






				<div class="row">
					<div class="col-sm-9" >
						


			<div class="mainmenu pull-right">
           <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search-center" style="margin-right: -250px;" action="feed/search" method="GET">
            <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" id="myinput" onkeyup="searchFunction()"   placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" style="width: 900px; height: 50px;" spellcheck="false" name="titlesearch" autocomplete="off">
            <button class="btn btn-primary" style="margin-top: -2px; width: 120px; height: 50px;"  type="button"  value='Search' id='submit' onkeyup="search_button()">SEARCH</button>
              </div>
            </div>
</form>
							<ul class="nav navbar-nav collapse navbar-collapse" style="font-size: large; margin-left: 320px; color:black;">


								<li><a href="" class="active"><i class="fa fa-home"></i>Home</a></li>
								<li class=""><a href="#">Spare parts</a></li>
								<li class=""><a href="#">Request</i></a></li>
								<li><a href="">About</a></li>
								<li><a href="">Contact</a></li>
							</ul>
			</div>
           
					</div>
					
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
<center>
	<section id="slider" style="background-color:  #959595; width:1200px; margin-left:50px; align-content: center;"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner" >
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>S</span>ashika</h1>
									<h2>Vehicles & Spare parts</h2>
									<p>We are the fastest growing largest digital automotive marketplace in Sri Lanka.</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="https://dcassetcdn.com/design_img/2793673/484367/484367_15258317_2793673_cf010444_image.png"style="height: 410px;width:450px;"  class="girl img-responsive" alt="" />
									
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>B</span>rands</h1>
									<h2>100% Genuine Brands</h2>
									<p>Sell your car Make more money by selling your car with us. AutoMe bot can generate a free instant valuation for your items.</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="https://logos-download.com/wp-content/uploads/2018/07/Advaced_Auto_Parts_logo_red.svg" style="height: 410px;width:450px;" class="girl img-responsive" alt="" />
								
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>S</span>ERVICE</h1>
									<h2>Customer friendly</h2>
									<p>If you’re willing to take a cash payment, consider arranging for this to take place at a bank. The staff there can count out the notes and guarantee they’re genuine. You’ll also be able to pay the money in immediately.</p>
									<button type="button" class="btn btn-default get">Get it now</button>
								</div>
								<div class="col-sm-6">
									<img src="https://cdn5.f-cdn.com/contestentries/1180669/23537344/5a0a2eb1aab73_thumb900.jpg" style="height: 410px; width:450px;"  class="girl img-responsive" alt="" />
								
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
</center>	

					
					</div>
				</div>
				<center>
                    <br><br><br><br>


<div class="center-tag"  >





			<div class="features_items" ><!--features_items-->

						<div class="col-sm-4" style="margin-left: 250px; width: 80%; height: 200px;">
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo">
                                             {{#each users}}
											<img  src="{{this.addCode}}" alt="" />
                                            {{/each}}
							</div>
							
								</div>
							</div>
						</div>
		</div>


				<div class="col-sm-9 margin-right" style="margin-left: 200px;">
		
	</section>

</div>



<div class="promotion" style="float: left; margin-left: 20px; margin-top: -260px; ">
						<div class="shipping text-center"><!--shipping-->
                        {{#each users1}}
							<img style=" width: 230px; height: 600px;" src="{{this.addCode}}" alt="" />
                        {{/each}}
						</div><!--/shipping-->
						
						<div class="shipping text-center"><!--shipping-->
                        {{#each users2}}
							<img style="width: 230px; height: 800px;" src="{{this.addCode}}" alt="" />
                        {{/each}}
						</div><!--/shipping-->

											
						<div class="shipping text-center"><!--shipping-->
							<img style=" margin-top: -40px;  width: 200px; height: 150px;" src="https://i.gifer.com/IyZl.gif" alt="" />
						</div><!--/shipping-->

</div>
<br>




<div class="center-adds" style="float: left;">














<table class="table table-hoves" id="table" style=" width: 1000px; margin-left: 10px; background-color: white;" >
        <tbody id="table">







            {{#each spare}}
            <tr>

                <td> <a style="float:left" href="/get_part/{{this.item_code}}"> <img style="height: 180px; width:250px;" src="http://localhost:3000/img/{{this.photo}}" alt=""></a>
<div class="gol"style="margin-left:300px">
<a href="/get_part/{{this.item_code}}"><h2 style="font-size: 25px;">{{this.item_name}}</h2> </a><br><p>{{this.brand_model}}</p></br> <br>  <div class="pize" style="color:red; font-size:20px"> Rs.{{this.price}}
</div>
                </div></td>
            


            </tr>
            



            {{/each}}



         </tbody>


        </table>



                </div>
            </div><!-- Trend Section End -->

</div>

			
<br><br><br><br><br><br>
</section>


    </div>
</body>



<!-- Discount Section Begin -->
<section class="discount" style="width: 100%; margin-top: 1700px; ">
    
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img style="width: 500px;" src="/images/asd.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Ride Your Future</span>
                        <h2>SHASHIKA IMPORTERS</h2>
                        <h5><span>CarSale</span></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Registration</h6>
                    <p>For all vehicles</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If not good have Problems with item</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Service Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Footer Section Begin -->
<footer class="footer" >
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <p>Sell your spare parts in no time at all with our practical catalogue system. All information about spare parts is presented intuitively and visually. Your customer identifies the part he needs, places it in the shopping basket with one click and orders it directly. </p>
                    <div class="footer__payment">
                        <a href="#"><img src="asse/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <div class="footer__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This site is developed <i class="fa fa-heart" aria-hidden="true"></i> by <a href="vihanga deshan" target="_blank">vihanga</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->









<script>



$(document).ready(function(){  
    $('#myinput').keyup(function(){  
         search_table($(this).val());  
    });  
    function search_table(value){  
         $('#table tr').each(function(){  
              var found = 'false';  
              $(this).each(function(){  
                   if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                   {  
                        found = 'true';  
                   }  
              });  
              if(found == 'true')  
              {  
                   $(this).show();  
              }  
              else  
              {  
                   $(this).hide();  
              }  
         });  
    }  
}); 

</script>












<script src="spareparts/js/search.js"></script>
	

  
    <script src="spareparts/js/jquery.js"></script>
	<script src="spareparts/js/bootstrap.min.js"></script>
	<script src="spareparts/js/jquery.scrollUp.min.js"></script>
	<script src="spareparts/js/price-range.js"></script>
    <script src="spareparts/js/jquery.prettyPhoto.js"></script>
    <script src="spareparts/js/main.js"></script>
</body>
</html>