<link rel="stylesheet" href="/stylesheets/main.css" />
		<!-- One -->
<link rel="stylesheet" href="/asse/css/style1.css" type="text/css">


<!-- header end -->

<div class="gotmid">
{{#each res}}

			<section id="" class="wrapper style2">
				<div class="inner">
					<div class="">

						<div>
							<div class="box"style="center">
								<div class="content">
									<header class="align-center">
										<p>Shashika importers</p>
										<h2>{{this.item_name}}</h2>
										<div class="img">
										<img style="height: 300px; width:500px;" src="http://localhost:3000/img/{{this.photo}}" class="img-circle img-responsive">
										</div>
									</header>

									<p>Item Code: {{this.item_code}}</p>
									<p>Model Number: {{this.brand_model}}</p>
									<p>Quantity: {{this.quantity}}</p>
									<p>Availability: {{this.availability}}</p>
									<p>Description: {{this.description}}</p>
									<br>
									<br>
									<h3>
										Rs.{{this.price}}
									</h3>																				
									<footer class="align-center">
									</footer>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

   {{/each}}
</div>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>We are the fastest growing largest digital automotive marketplace in Sri Lanka.</p>
						<h2>Hi, we’re Shashika Importers</h2>
					</header>
				</div>
			</section>

    <!-- Lookbok Section Begin -->
    <section class="lookbok-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <br>
                            <br>
	<div class=" container p-3 " style="margin-left:170px;">						
                            <h2 style="text-align: center; color:black; lenght:10px;">2019 <br />Our Vision</h2>
                        <p style="color: black; text-align: center;">Our purpose is to lead the future of the digital automotive marketplace. We aim to improve the process of buying and selling vehicles, by continuously evolving the ecosystem to provide a better experience for consumers, retailers, and manufacturers alike.
                        Here at AutoMe, we believe that car buying and selling should be straight-forward and enjoyable, not time-consuming, complicated, or stressful.We help people find the right car - from the right seller, at the right price - with the latest tools and technology, creating a website that makes buying and selling vehicles clearer and easier for everyone.</p>
                        <a href="#" class="primary-btn look-btn" style="color: red;">See More</a>
                        </div>
					</br>
					</br>
					</br>
                    </div>
                </div>
  
                </div>
            </div>
        </div>
    </section>
    <!-- Lookbok Section End -->
	

	<!-- adding -->

	<!-- adding -->
<hr class="container">

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Free Registration</h6>
                    <p>For all vehicles</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If not good have Problems with item</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Service Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about" style="margin-right: 500px;">
                    <p>Sell your spare parts in no time at all with our practical catalogue system. All information about spare parts is presented intuitively and visually. Your customer identifies the part he needs, places it in the shopping basket with one click and orders it directly. </p>
                    <div class="footer__payment">
                        <a href="#"><img src="asse/img/payment/payment-1.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-2.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-3.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-4.png" alt=""></a>
                        <a href="#"><img src="asse/img/payment/payment-5.png" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget" style="margin-left: 700px; margin-top:-150px;">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget" style=" margin-top:-150px;">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <div class="footer__social" style="margin-left:120px; margin-top:-150px">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <div class="footer__copyright__text" style="margin-left: 350px;">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This site is developed <i class="fa fa-heart" aria-hidden="true"></i> by <a href="vihanga deshan" target="_blank">vihanga</a></p>
                </div>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
</footer>
</hr>
<!-- Footer Section End -->
